# requirements.txt
appdirs
cachetools
certifi
charset-normalizer
click
flexcache
flexparser
google-auth
idna
kubernetes
oauthlib
pick
Pint
pyasn1
pyasn1_modules
python-dateutil
pyvmomi
PyYAML
requests
requests-oauthlib
rsa
six
typing_extensions
urllib3
websocket-client
## The following requirements were added by pip freeze:
hvac
pip
ansible-compat
ansible-core
ansible-lint
attrs
awxkit
black
boto3
botocore
bracex
cffi
cryptography
filelock
importlib_metadata
importlib_resources
Jinja2
jmespath
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
mypy-extensions
packaging
pathspec
platformdirs
pycparser
Pygments
referencing
resolvelib
rich
rpds-py
ruamel.yaml
ruamel.yaml.clib
s3transfer
setuptools
subprocess-tee
tomli
wcmatch
wheel
yamllint
zipp
asyncssh
## The following requirements were added by pip freeze:
bcrypt
durationpy
paramiko
PyNaCl
