# Core Dependencies
click==8.1.8
hvac==2.3.0
python-dotenv==1.1.0
typer==0.15.2
typing_extensions==4.13.2
rich==14.0.0
tenacity==9.1.2

# API and Network Dependencies
aiohttp==3.11.16
aiohappyeyeballs==2.6.1
asyncssh==2.20.0
boto3==1.37.32
kubernetes==32.0.1
kubernetes_asyncio==32.3.0
requests==2.32.3
websocket-client==1.8.0

# Authentication and Security
bcrypt==4.3.0
cryptography==44.0.2
google-auth==2.38.0
oauthlib==3.2.2
PyNaCl==1.5.0
pyOpenSSL==25.0.0

# Data Processing and Utilities
appdirs==1.4.4
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
flexcache==0.3
flexparser==0.4
filelock==3.18.0
idna==3.10
pick==2.4.0
Pint==0.24.4
protobuf==6.30.2
pyasn1==0.6.1
pyasn1_modules==0.4.2
python-dateutil==2.9.0.post0
pyvmomi==8.0.3.0.1
PyYAML==6.0.2
rsa==4.9
six==1.17.0
urllib3==2.4.0
