{
  "metadata": {
    "name": "{{ credName }}",
    "org_id": "{{ pxbkDomain }}",
    "owner": "{{ ownerUid }}",
    "ownership": {
      "owner": "{{ ownerUid }}",
      "groups": [
        {
        "id": "px-admin-group",
        "access": "Admin"
        }
      ],
      "public": {}
    }
  },
  "cloud_credential": {
    "type": "{{ credType }}",
    {% if cred_type == 'AWS' %}
    "aws_config": {
      "access_key": "{{ awsAccessID }}",
      "secret_key": "{{ awsSecretKey }}"
    }
    {% elif credType == 'Azure'%}
    "azure_config": {
      "account_name": "{{ azureAcctname }}",
      "account_key": "{{ azureAcctkey }}",
      "client_secret": "{{ azureCltsecret}}",
      "client_id": "{{ azureCltid}}",
      "tenant_id": "{{ azureTentid }}",
      "subscription_id": "{{ azureSubscrid }}"
    }
    {% elif credType == 'Google'%}
    "google_config": {
      "project_id": "{{ googleProjid }}",
      "json_key": "{{ googleJsonkey}}"
    }
    {% elif credType == 'IBM'%}
    "ibm_config": {
      "api_key": "{{ ibmApikey }}"
    }
    {% elif credType == 'Rancher'%}
    "rancher_config": {
      "endpoint": "{{ rancherEndpoint }}",
      "token": "{{ rancherToken}}"
    }
    {% endif %}
  }
}
